annotated-types==0.7.0
anyio==4.13.0
bidict==0.23.1
blinker==1.9.0
certifi
cffi
charset-normalizer
click
cryptography
distro
dnspython
Flask==3.1.1
Flask-SocketIO==5.5.1
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio
grpcio-status
gunicorn==26.0.0
h11
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
MarkupSafe
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pymongo
pyparsing
python-engineio
python-socketio
requests
simple-websocket
sniffio
tenacity
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
websockets
Werkzeug
wsproto